@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #0070f3;
  text-decoration: none;
}

.container {
  max-width: 36rem;
  margin: 0 auto;
}

.tilted {
  background: linear-gradient(to bottom left, #fff calc(50% - 1px), transparent 50%);
}

.article-content p + p {
  @apply mt-4;
}
.article-content ul {
  @apply my-4;
}
.article-content ul li {
  @apply list-disc list-inside
}

.article-content {
  @apply pb-8 mb-8 border-b;
}